{% extends 'product/base.html' %}
{% load static %}
{% block extra_css %}
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
{% endblock extra_css%}
{% block content %}
    <a href="/">Go Back</a>
    <div class="text-left">
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
    {% for field in form %}
        {% if field.label != 'Tags' %}
        {{ field.label_tag }}<br>
        {{ field }}
        {% else %}
        Tags:
        <input type="text" id="input" class="form-control" name="tags" value="{% for tag in field.value %}{{ tag|default_if_none:'' }},{% endfor %}" data-role="tagsinput">
        {% endif %}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
{% endblock extra_js %}